{% extends "base.html" %}
{% block title %} - Blog{% endblock %}
{% block css %}<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">{% endblock %}
{% block body %}
<div class="page-header">
	<h1>Blog</h1>
</div>
{% if posts %}
<div id="posts-list">
{% for post in posts %}
<article class="format-standard">
	<div class="entry-date">
		<div class="number">{{ post.pub_date|date:'d' }}</div>
		<div class="year">{{ post.pub_date|date:"M, Y" }}</div>
	</div>
	{% if post.pic %}
	<div class="feature-image">
		<img src="{{ post.pic }}" alt="Alt text" />
	</div>
	{% endif %}
	<h2  class="post-heading"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
	<div class="excerpt">{{ post.teaser }}</div>
	<a href="{{ post.get_absolute_url }}" class="read-more">continue &#8594;</a>
	<div class="meta">
		<div class="tags">Tagged under: <a href="{{ post.tag.absolute_url }}">{{ post.tag }}</a></div>
	</div>
</article>
{% endfor %}
</div>
{% else %}
<p>There are no posts </p>
{% endif %}
{% endblock %}