{% extends "base.html" %}
{% block title %} - Contact{% endblock %}
{% block css %}<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">{% endblock %}
{% block header %}
<div class="page-header">
	<h1>Contact</h1>
</div>
{% endblock %}
{% block body %}
<div class="row">
	<div class="span8">
		<form id="contactform" action="/dev/contact/" method="post">{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Submit" />
		</form>
	</div>
	<div id="contactinfo" class="span4">
		<h3>Sophie Chang</h3>
		<h5><a href="mailto:sophie@sophie-chang.com">sophie@sophie-chang.com</a></h5>
		<h5>Cambridge, MA</h5>
		<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=201712683410522079520.0004b8de099cea52bdc38&amp;ie=UTF8&amp;ll=42.370181,-71.116991&amp;spn=0,0&amp;t=m&amp;output=embed"></iframe><br /><small style="color: #000000;">View <a href="http://maps.google.com/maps/ms?msa=0&amp;msid=201712683410522079520.0004b8de099cea52bdc38&amp;ie=UTF8&amp;ll=42.370181,-71.116991&amp;spn=0,0&amp;t=m&amp;source=embed">Current Location</a> on a larger map</small>
	</div>
</div>
{% endblock %}